<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- set方式注入: -->
    <bean name="user" class="cn.mastc.bean.User">
        <!-- 值类型注入:为User对象中名为name的属性注入tom作为值 -->
        <property name="name" value="tom"></property>
        <property name="age" value="18"></property>
        <!-- 引用类型注入:为car属性注入下方配置的car对象 -->
        <property name="car" ref="car"></property>
    </bean>

    <!-- 将Car对象配置到容器中 -->
    <bean name="car" class="cn.mastc.bean.Car">
        <property name="name" value="兰博基尼"></property>
        <property name="color" value="黄色"></property>
    </bean>
<!-- ============================================================================= -->
    <!-- 构造函数注入 -->
    <bean name="user2" class="cn.mastc.bean.User">
        <constructor-arg name="name" value="999" index="0" type="java.lang.Integer"></constructor-arg>
        <constructor-arg name="car" ref="car" index="1"></constructor-arg>
    </bean>
</beans>