<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <!-- 注册监听器 -->
    <!--<listener>
        <listener-class>cn.mastc.create.MyServletContextListener</listener-class>
    </listener>-->
    <!--<listener>
        <listener-class>cn.mastc.create.MyHttpSessionListener</listener-class>
    </listener>-->
    <!--监听属性变化的-->
   <!-- <listener>
        <listener-class>cn.mastc.attribute.MyServletContextAttributeListener</listener-class>
    </listener>-->
    <listener>
        <listener-class>cn.mastc.birthday.BirthdayListener</listener-class>
    </listener>
</web-app>
