<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写sql语句 -->
<mapper namespace="cn.mastc.mybatis.mapper.OrderMapper">
    <!--<select id="selectOrdersList" resultType="Orders">-->
    <resultMap id="orders" type="Orders">
        <result column="user_id" property="userId" />
    </resultMap>

    <select id="selectOrdersList" resultMap="orders">
        select id, user_id, number, createtime, note from orders
    </select>
</mapper>